div {
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#app {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

#mid-div {
  display: flex;
  height: 100%;
  justify-content: center;
}

#top-div {
  background-color: lightgrey;
  height: 15vh
}

#sidebar-div {
  background-color: lightcyan;
  padding: 5vh
}

#article-div {
  background-color: white;
  padding: 5vh
}

#bot-div {
  background-color: lightgrey;
  height: 10vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
